@import "bourbon";
@import "neat";
@import "font-awesome";

$background-color: #B39C84;
$adminBack-color: #3B424C;
$text-color: #1D171F;
$smallBtn-color: #FF522A;
$bigBtn-color: #2D6E74;

body {
  background: $background-color;
  height: 100%;
}

.app {
  height: 100%;
}

.admin {
  border: 1px solid black; 
}

/******** Play View Styling ***********/

.playViewWrapper {
  margin: 20px auto;
  text-align: center;
  .deckTitle{
    font-size: 3em;
  }
}
.mainPlay{
  @include outer-container;
  font-size: 2em;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.question{
  @include span-columns(6);
  @include omega(3n);
  border: 1px solid black;
  height: 100%;
}
.countDownTimerLeft{
  @include span-columns(3);
}
.countDownTimerRight{
  @include span-columns(3);
}
.answerField{
  display: block;
  width: 40%;
  margin: 20px auto;
}
.score{
  margin: 20px auto;
}
.timeValue{
  font-size: 8em;
}

@media screen and (max-width: 1100px) {
  .deckTitle{
    font-size: 2em;
  }
  .mainPlay{
    font-size: 1.2em;
  }
  .timeValue{
    font-size: 7em;
  }
}
@media screen and (max-width: 800px) {
  .deckTitle{
    font-size: 1.4em;
  }
  .mainPlay{
    font-size: 0.8em;
  }
  .timeValue{
    font-size: 6em;
  }
}
/******** Score View Styling ***********/
.gameOverWrapper {
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 5px solid;
  border-radius: 180px;
  .gameOver{
    font-size: 3em;
    color: red;
  }
}
.scoreNumber {
  font-size: 3em;
  color: red;
  border: 3px solid red;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;

}
.playAgain {
  padding: 5pt;
}
.changeGame {
  padding: 5pt;
}
