@import "bourbon";
@import "neat";
@import "font-awesome";


$background-color: #E9E0D5;
$adminBack-color: #1DABA5;
$text-color: #344459;
$smallBtn-color: #ED715C;
$bigBtn-color: #1DABA5;
$white: white;
// html {
//   border: 2px solid #344459;
// }
body {
  background: $background-color;
  height: 100%;
}

button {
  color: $white;
  background-color: $smallBtn-color;
  box-shadow: 3px 3px 5px black;
  
} 

.app {
  height: 100%;
}
//Site Titles
.siteTitle {
  margin-left: 1%;
  text-shadow: 3px 3px 5px $smallBtn-color;
}
//Site Inputs
.siteInputWrapper {
  width: 80%;
  float: left;

  .siteInput {
    margin: 1%;
    width: 40%;
    line-height: 2em;
    border-radius: 2px;
    border: 2px solid $smallBtn-color;
    box-shadow: 3px 3px 5px black;
    float: left;
  }
 } 
//Site Buttons
.sitButtonWrapper {
  float: left;
  width: 80%;

  .siteButton {
    width: 20%;
    padding: 1%;
    margin: 1%;
    float: left;
  }
}

  
/*no_cookie welcome page*/

.welcomeScreen{
  color: $text-color;
  text-align: center;
  .banner {
    width: 1000;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
 
  }
  .bannerBackdrop {
    position: relative;
    background-image: url("../img/orange2.jpg");
    background-repeat: repeat-x;
    width: 1600px;
    height: 260px;
    animation: backdrop_roll linear 12s infinite;
  }
  @keyframes backdrop_roll {from {right: 0px; } to { right:300px; }}
  .postionText {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 70px;

    .title{
      font-size: 4em;
      text-shadow: 5px 5px 5px black;
    }
    .tagLine{
      font-size: 3em;
      text-shadow: 3px 3px 3px black;

    }
  }
  .welcome{
    button {
      border: none;
      border-radius: 5px;
      font-size: 1.5em;
      margin-right: 2%;
      &:hover{
        color: $text-color;
      }
    }
  }
}

/*sign_in page*/

.logInPage{
  color: $text-color;
  text-align: center;
  .title{
    font-size: 4em;
  }
  input {
    margin-right: 2%;
  }
  button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 2%;
    &:hover{
      color: $text-color;
    }
  }
}
.hulk {
  margin-top: 5%;
  img {
    width: 40%;
  }
}
/* register for new account page */

.registration{
  color: $text-color;
  text-align: center;
  .title{
    font-size: 4em;
  }
  label{
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  input{
    width: 20%;
  }
  button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 2%;
    &:hover{
      color: $text-color;
    }
  }
}


/* Bar on Left for all pages */

.admin {
  border: 1px solid $text-color;
  text-shadow: .4px .4px .4px white;
  padding: 2%; 
  float: left;
  width: 20%;
  height: 700px;
  margin: 4% 2%;
  color: $text-color;
  box-shadow: 5px 5px 5px black;
  background-color: $adminBack-color;
  .admin-items{
    text-align: center;
  }

}

.username {
  text-shadow: 3px 3px 3px $smallBtn-color;
    
}
.short {

  margin-top: 4%;
}

.logOutBtn {
  border: 1px solid $text-color;
  border-radius: 2px;
  width: 60%;
  font-size: 1.4em;
  padding: 2%;
  box-shadow: 3px 3px 5px black;
}

.selectImg {
  margin-top: 30%;
  margin-bottom: 30%;
  width: 200px;
  height: 180px;
  background-size: 140%;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 3px 3px 5px black;
  background-repeat: no-repeat;
  background-position: left 40% top 4%;
  background-image: url("../img/sumo.gif");
}

/* Add Deck Page */


/* Edit Cards Page */
.editWrapper {
  width: 70%;
  margin-top: 3%;
  float: left;

  .titleTop {
    margin-left: 5%;
    margin-bottom: 3%;
  }
 
}
// 

/* List of all playable decks for each user */

.deckList {
  float: right;
  width: 70%;
  .title{
    text-align: center;
    font-size: 4em;
    text-shadow: 3px 3px 3px $smallBtn-color;
    color: $text-color;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    right: 6%;
  }

}

.deck {
  width: 25%;
  text-shadow: .3px .3px .3px white;
  height: 200px;
  margin: 2% 2%;
  border: 1px solid $text-color;
  border-radius: 2px;
  float: left;
  box-shadow: 5px 5px 5px black;
  color: $text-color;
  background-color: $adminBack-color;
  text-align: center;
  .deckTitle{
    font-size: 1.2em;
    font-weight: bolder;
    margin: 3% 1.5% 0 1.5%;
  }
  .play {
    margin-top: 9%;
    border: 1px solid $text-color;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
    width: 35%;
    padding: 5% 0;
    font-size: .8em;
  }
  .edit {
    margin-top: 32%;
    margin-left: 4%;
    border: 1px solid $text-color;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
    width: 35%;
    padding: 5% 0;
    font-size: .8em;
  }
  .delete {
    margin-top: 5%;
    border: 1px solid $text-color;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
    width: 35%;
    padding: 5% 0;
    font-size: .8em;
  }

  .buttonTitle {
    margin: 0;
    margin-right: 5px;
    padding: 0;
  }
  .cards {
    margin-top: 5%;
    border: 1px solid $text-color;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
    width: 35%;
    padding: 5% 0;
    font-size: .8em;
   
  }

  button {
    margin-right: 5%;
    &:hover{
      color: $text-color;
    }
  }
}

/* Styling for tagLine on main deck selection page */
 

.selectTitle {
  text-shadow: .3px .3px .3px white;
  border: 1px solid $text-color;
  font-size: 1.3em;
  width: 80%;
  margin-left: 2%;
  border-radius: 2px;
  float: left;
  vertical-align: middle;
  padding: 1% 0 0 3%;
  color: $text-color;
  background-color: $adminBack-color;
  box-shadow: 3px 3px 5px black;
}

.addDeckBtn {
  color: $smallBtn-color;
  float: right;
  margin: 0 4% 1% 0;
  border: 2px solid $smallBtn-color;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 3px 3px 5px black;
  background-color: $white;
}






/******** Play View Styling ***********/

.playViewWrapper {
  margin: 20px auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  .deckTitle{
    font-size: 3em;
  }
}
.mainPlay{
  @include outer-container;
  font-size: 2em;
  width: 100%;
  height: 300px;
  margin-top: 20px;

}
.submitAnswer{
    margin-left: 10px;
    margin-right: 10px;

  }
  .submitAnswer:hover{
    color: $text-color;
    border: 2px solid #F7F7F7;

  }

.nextCard{
    margin-left: 10px;
    margin-right: 10px;
  }
  .nextCard:hover{
    color: $text-color;
    border: 2px solid #F7F7F7;
  }

.question{
  @include span-columns(6);
  @include omega(3n);
  border: 1px solid $smallBtn-color;
  border-radius: 10px;
  height: 100%;
  background-color: #F7F7F7;

}
.countDownTimerLeft{
  @include span-columns(3);
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $white;
  background-color: $text-color;
  box-shadow: 3px 3px 5px black;
  color: $adminBack-color;
}

.countDownTimerRight{
 @include span-columns(3);
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $white;
  background-color: $text-color;
  box-shadow: 3px 3px 5px black;
  color: $adminBack-color;
}
.answerField{
  display: block;
  width: 40%;
  margin: 20px auto;
  font-size: 1.5em;
  border: 1px solid $adminBack-color;

}
.scoreDiv{
  margin-top: 10px;
  margin-left: 450px;
  margin-right: 450px;
  padding: 10px;
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $adminBack-color;
  background-color: #F7F7F7;
}
.timeValue{
  font-size: 8em;
}

@media screen and (max-width: 1100px) {
  .deckTitle{
    font-size: 2em;
  }
  .mainPlay{
    font-size: 1.2em;
  }
  .timeValue{
    font-size: 7em;
  }
}
@media screen and (max-width: 800px) {
  .deckTitle{
    font-size: 1.4em;
  }
  .mainPlay{
    font-size: 0.8em;
  }
  .timeValue{
    font-size: 6em;
  }
}






/******** Score View Styling ***********/
.gameOverWrapper {
  margin: 20px;
  padding: 10px;
  text-align: center; 
  border: 5px solid $smallBtn-color;
  border-radius: 180px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  background-color: $adminBack-color;
  .gameOver{
    font-size: 4em;
    color: #344459;
  }
  span{
    font-size: 1.5em;
  }
}
.scoreNumber {
  font-size: 3em;
  color: #344459;
  border: 3px solid #ed715C;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;

}

.gameOverWrapper button{
  padding: 15pt;
  margin: 5pt;
  border-radius: 20px;
  box-shadow: none;
}
.gameOverWrapper button:hover{
  padding: 15pt;
  margin: 5pt;
  border-radius: 20px;
  box-shadow: none;
  color: $text-color;
  border: 2px solid #F7F7F7;
}


