@import "bourbon";
@import "neat";
@import "font-awesome";

$background-color: #E9E0D5;
$adminBack-color: #1DABA5;
$text-color: #344459;
$smallBtn-color: #ED715C;
$bigBtn-color: #1DABA5;
$white: white;

body {
  background: $background-color;
  height: 100%;
}

button {
  color: $white;
  background-color: $smallBtn-color;
  box-shadow: 3px 3px 5px black;
  
}

.app {
  height: 100%;
}
//JESSE Edited existing 
.admin {
  border: 1px solid $text-color;
  text-shadow: .4px .4px .4px white;
  padding: 2%; 
  float: left;
  width: 20%;
  height: 700px;
  margin: 4% 2%;
  color: $text-color;
  box-shadow: 5px 5px 5px black;
  background-color: $adminBack-color;
//JESSE SELECT PAGE
}
.deckList {
  float: right;
  width: 70%;

}
.selectTitle {
  text-shadow: .3px .3px .3px white;
  border: 1px solid $text-color;
  font-size: 1.3em;
  width: 50%;
  border-radius: 2px;
  display: inline-block;
  margin: 3% 2% 1% 2%;
  padding: 1% 1%;
  color: $text-color;
  background-color: $adminBack-color;
  box-shadow: 3px 3px 5px black;
  

}

.addDeckBtn {
  color: $smallBtn-color;
  margin: 7% 0 2% 20%;
  border: 2px solid $smallBtn-color;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 3px 3px 5px black;
  background-color: $white;
}
.deck {
  width: 25%;
  text-shadow: .3px .3px .3px white;
  height: 200px;
  margin: 2% 2%;
  border: 1px solid $text-color;
  border-radius: 2px;
  float: left;
  box-shadow: 5px 5px 5px black;
  color: $text-color;
  background-color: $adminBack-color;
   
}
.deckTitle{
  font-size: 1.5em;
  margin: 1%;
}
.play {
  border: 1px solid $text-color;
  border-radius: 2px;
  box-shadow: 3px 3px 5px black;
}
.edit {
  border: 1px solid $text-color;
  border-radius: 2px;
  box-shadow: 3px 3px 5px black;
}
.buttonTitle {
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.logOutBtn {
  border: 1px solid $text-color;
  border-radius: 2px;
  box-shadow: 3px 3px 5px black;

}
// END JESSE SELECT PAGE

/******** Play View Styling ***********/

.playViewWrapper {
  margin: 20px auto;
  text-align: center;
  .deckTitle{
    font-size: 3em;
  }
}
.mainPlay{
  @include outer-container;
  font-size: 2em;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.question{
  @include span-columns(6);
  @include omega(3n);
  border: 1px solid $text-color;
  height: 100%;
  background-color: white;
}
.countDownTimerLeft{
  @include span-columns(3);
}
.countDownTimerRight{
  @include span-columns(3);
}
.answerField{
  display: block;
  width: 40%;
  margin: 20px auto;
}
.score{
  margin: 20px auto;
}
.timeValue{
  font-size: 8em;
}

@media screen and (max-width: 1100px) {
  .deckTitle{
    font-size: 2em;
  }
  .mainPlay{
    font-size: 1.2em;
  }
  .timeValue{
    font-size: 7em;
  }
}
@media screen and (max-width: 800px) {
  .deckTitle{
    font-size: 1.4em;
  }
  .mainPlay{
    font-size: 0.8em;
  }
  .timeValue{
    font-size: 6em;
  }
}
/******** Score View Styling ***********/
.gameOverWrapper {
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  border: 5px solid;
  border-radius: 180px;
  
  background-color: $adminBack-color;
  .gameOver{
    font-size: 3em;
    color: #344459;
  }
}
.scoreNumber {
  font-size: 3em;
  color: #344459;
  border: 3px solid #ed715C;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;

}
.after {
  padding: 15px;
  box-shadow: 5px 5px 5px black;
}
.changeGame {
  padding: 5pt;
}


